/* ------------------------------------
    404 Error
 ------------------------------------*/

.error404
    padding: $spacing * 3

    text-align: center

    border: 3px solid $color-gallery

    font-family: $heading-family

    h1
        margin: 0

        font-size: 40.4rem
        line-height: 1
