/* ------------------------------------
    Homepage
 ------------------------------------*/

.promos
    max-width: 1800px
    margin: $spacing auto

    @extend %clearfix


.promo
    position: relative

    overflow: hidden

    height: 225px
    max-width: 100%

    background: #f4f4f4

    @include mq($break-medium)
        height: 350px
        display: inline-block

    &--lg,
    &--sm
        @include mq($break-medium)
            @include col(1/2, false)

    &--lg
        @include mq($break-big)
            @include col(7/12, false)

    &--sm
        @include mq($break-big)
            @include col(5/12, false)


    &__meta
        position: absolute
        width: 100%
        text-align: center

        @include center(y)

    h2
        @extend %heading-shadow
        
        @include mq($break-medium)
            margin-bottom: ($spacing - 2rem)

    .btn
        background: none
        transition: opacity .3s

        @include mq($break-medium)
            color: #000
            background: #fff
            border-radius: 0

        &:hover
            opacity: .8

    img
        height: 100%
        width: 100%

        object-fit: cover

        transition: transform 3000ms ease
        vertical-align: middle

    &:hover img
        transform: scale(1.1)

/** Sections **/
.section__product-cats
    padding: ($spacing * 4) 0
    background-color: lighten($color-gallery, 4)

.section__view-more
    font-size: 1.8rem
    border-bottom: 1px solid $color-primary
    margin-top: $spacing
    display: inline-block

    &:after
        content: '\f105'
        font-family: 'FontAwesome'
        margin-left: $spacing
        display: inline-block
        color: $color-primary
        font-size: 2rem
