/* ------------------------------------
    Shop Page
 ------------------------------------*/

.shop
    &__header
        padding: ($spacing * 5) 0

        background-color: $color-primary
        background-repeat: no-repeat
        background-position: center
        background-size: cover

        .page__title
            color: #fff
            margin: 0

    .product
        margin: ($spacing * 3) 0

    .page-nav
        margin-top: $spacing * 3
