[submodule "dist/panel"]
	path = dist/panel
	url = https://github.com/getkirby/panel.git
[submodule "dist/kirby"]
	path = dist/kirby
	url = https://github.com/getkirby/kirby.git
[submodule "dist/site/fields/multiselect"]
	path = dist/site/fields/multiselect
	url = https://github.com/distantnative/multiselect.git
[submodule "dist/site/fields/kirby-place-field"]
	path = dist/site/fields/kirby-place-field
	url = https://github.com/AugustMiller/kirby-place-field.git
[submodule "dist/site/fields/--name"]
	path = dist/site/fields/--name
	url = https://github.com/storypioneers/kirby-selector.git
[submodule "dist/site/fields/selector"]
	path = dist/site/fields/selector
	url = https://github.com/storypioneers/kirby-selector.git
[submodule "dist/site/fields/location"]
	path = dist/site/fields/location
	url = https://github.com/AugustMiller/kirby-place-field.git
[submodule "dist/site/fields/subpage-list"]
	path = dist/site/fields/subpage-list
	url = https://github.com/flokosiol/kirby-subpagelist.git
[submodule "dist/site/fields/place"]
	path = dist/site/fields/place
	url = https://github.com/AugustMiller/kirby-place-field.git
[submodule "dist/site/fields/selecto"]
	path = dist/site/fields/selecto
	url = https://github.com/storypioneers/kirby-selector.git
[submodule "dist/site/fields/subpagelist"]
	path = dist/site/fields/subpagelist
	url = https://github.com/flokosiol/kirby-subpagelist.git
