/* ------------------------------------
    Grid
 ------------------------------------*/

%clearfix
    &:after
        display: table
        clear: both

        content: ''


.wrap
    @extend %clearfix

    @include mq($break-medium)
        @include row

    @include mq($break-medium, null, max)
        max-width: 90%
        margin: 0 auto


main
    $margin: $spacing * 4

    margin-top: $margin
    margin-bottom: $margin


$breakpoints: (sm: 375px,    md: 668px,    lg: 960px)

@mixin all-sizes($class)
        #{$class}
            @content

        @each $bp, $size in $breakpoints
            @include mq($size, null, max)
                #{$class}\@#{$bp}
                    @content


/** Alignment **/
@include all-sizes('.pull--right')
    display: inline-block
    float: right

@include all-sizes('.pull--left')
    display: inline-block
    float: left

@include all-sizes('.center')
    display: block
    margin: 0 auto


/** Hide elements **/
@include all-sizes('.hide')
    display: none
