/* ------------------------------------
    Site Header
 ------------------------------------*/

.site-header
    border-bottom: 1px solid $color-alto


/** Logo **/
#logo
    width: 280px
    height: 120px

    margin: ($spacing * 3) 0

    background-image: url('../images/logo.png')    // Fallback for older browsers
    background-image: url('../images/logo.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: contain
