/* ------------------------------------
    Buttons
 ------------------------------------*/

.btn,
button,
input[type='button']
    @extend %input

    padding-left: $spacing * 3
    padding-right: $spacing * 3

    transition: background .3s

    letter-spacing: 1px
    text-transform: uppercase

    color: #fff
    border: 0
    background-color: $color-primary

    &:hover,
    &:focus
        color: #fff
        cursor: pointer

        background-color: darken($color-primary, 5)


.btn--disabled
    background-color: $color-alto

    &:hover,
    &:focus
        cursor: not-allowed

        background-color: $color-alto
