/* ------------------------------------
    Form Elements
 ------------------------------------*/

$input-height: 36px

%input
    font-family: $heading-family
    font-size: 1.2rem
    line-height: $input-height

    display: inline-block

    width: 100%

    height: $input-height

    margin: ($spacing / 2) 0
    padding: 0 $spacing

    border: 1px solid $color-alto
    border-radius: $input-height / 2
    outline: none

    @include mq($break-medium)
        width: auto

    &:disabled
        background-color: $color-alto

        &:hover
            cursor: not-allowed
            background-color: $color-alto


input[type='url'],
input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea
    @extend %input

    &:focus
        border-color: $color-grey

    &:disabled
        @extend %input-disabled


input[type='search']
    padding-left: 35px

    width: 15rem

    transition: width .3s

    background-image: url('../images/search.png')
    background-image: url('../images/search.svg')
    background-repeat: no-repeat
    background-position: $spacing center

    &:focus,
    &:active
        width: 22rem


textarea
    min-width: 250px
    min-height: 200px
    padding: $spacing
