/* ------------------------------------
    Products
 ------------------------------------*/

// Applies to all products
.product
    &__image
        margin: 0
        padding: 0
        transition: opacity .3s

        &:hover
            opacity: .75

    &__title
        font-size: 1.4rem

        a
            color: $color-mine-shaft

        &:hover
            color: $color-primary


// Single product page
.product-single
    @extend %clearfix

    .product

        // Product image slider
        &__images
            margin: 0


            @include mq($break-medium)
                @include col(6.5/12)

        &__slider
            @include mq($break-big)
                @include col(8.8/12)

        &__thumbnails
            @include mq($break-big)
                @include col(3.2/12)

            img
                outline: none
                margin-bottom: $spacing

                @include mq($break-big, null, max)
                    max-width: 33.30%

                &:hover
                    cursor: pointer

                &:hover,
                &.slick-current
                    opacity: .8


        // Product details
        &__details
            @include mq($break-medium)
                @include col(4.5/12)


        // Sections
        &__section
            margin-bottom: $spacing * 3

            h3
                font-size: 1.6rem

        // Product title & price
        &__title
            margin: ($spacing / 2) 0

            font-size: 4.5rem

        &__price
            font-size: 3.7rem


        // Anticipation message
        &__anticipation
            color: $color-apple-blossom

    // Pice table
    .price-table
        width: 100%



// Product List
.product__list
    @include row
    width: 100%

    .product
        &__image
            margin: 0
            transition: opacity .3s

            &:hover
                opacity: .75

        &__title
            font-size: 1.4rem


.product-item
    width: 100%
    margin-bottom: $spacing

    @include mq($break-small)
        @include col(1/2)

    @include mq($break-medium)
        @include col(1/4)


    .product
        &__meta
            text-align: center

.product-cat
    margin-bottom: $spacing * 4
    background: #fff
    padding: $spacing * 2

    @include mq($break-medium)
        float: left
        width: 30.6%
        margin-right: 3rem
        margin-bottom: 0

    &__title
        margin-top: 0
        margin-bottom: $spacing * 2
        @extend %underline


.product-item--vertical
    @extend %clearfix
    margin-bottom: $spacing

    .product
        &__image
            @include col(4/12, false)
            height: 100px
            overflow: hidden

        &__meta
            @include col(8/12)

        &__title
            margin-top: 0
            margin-bottom: $spacing / 2
