/* ------------------------------------
    Sections
 ------------------------------------*/

.section
    margin-bottom: $spacing * 10
    @extend %clearfix

    &__meta
        text-align: center
        margin-bottom: $spacing * 4

    &__title
        font-size: 2.2rem

    &__desc
        font-style: italic
        color: $color-grey

    &__btn-container
        margin-top: $spacing * 3
        text-align: center
