/* ------------------------------------
    Sections
 ------------------------------------*/

.section
    margin-bottom: $spacing * 10
    @extend %clearfix

    &__title
        text-align: center
        font-size: 2.2rem
        margin-bottom: $spacing * 3

    &__btn-container
        margin-top: $spacing * 3
        text-align: center
