// SUSY Config
$susy: (columns: 12,    container: 1120px,      gutters: 3 / 5,       global-box-sizing: border-box)
//debug: (image: show)


// Break Points
$break-small: 375px     // Mobile Devices such as phones
$break-medium: 868px    // Small Screen Devices
$break-big: 1200px      // Large Screen Devices


// UI Colors
//http://chir.ag/projects/name-that-color/
$color-deep-blush: #e88495
$color-mine-shaft: #383838
$color-grey: #7f7f7f
$color-alto: #d8d8d8
$color-primary: $color-deep-blush


// Fonts
$font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif
$heading-family: 'Montserrat', sans-serif

$heading-color: $color-mine-shaft
$font-color: $color-mine-shaft


// Spacing
$spacing: 1.5rem


// Grid
$wrapper: 80rem
$gutter: 1rem
