// SUSY Config
$susy: (columns: 12,    container: 1090px,      gutters: 3/5,       global-box-sizing: border-box)
//debug: (image: show)


// Break Points
$break-small: 375px     // Mobile Devices such as phones
$break-medium: 868px    // Small Screen Devices
$break-big: 1200px      // Large Screen Devices


// UI Colors
//http://chir.ag/projects/name-that-color/
$color-apple-blossom: #B14646
$color-mine-shaft: #383838
$color-grey: #7F7F7F
$color-alto: #D8D8D8
$color-primary: $color-apple-blossom


// Fonts
$font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif
$heading-family: 'Raleway', sans-serif

$heading-color: $dark
$font-color: $dark


// Spacing
$spacing: 1.5rem


// Grid
$wrapper: 80rem
$gutter: 1rem
