/* ------------------------------------
    Reset v.0.1.1
 ------------------------------------*/

html, body, div, form, fieldset, legend, label
    margin: 0
    padding: 0

table
    border-collapse: collapse
    border-spacing: 0

th, td
    text-align: left
    vertical-align: top
    font-weight: normal

h1, h2, h3, h4, h5, h6
    font-weight: normal

caption
    font-weight: normal

img
    border: 0

input
    -webkit-appearance: none
    -webkit-border-radius: 0
